*
  margin: 0
  padding: 0

body 
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif

.flex 
  display: flex
  justify-content: space-between
  align-items: center

ul 
  list-style: none

.uppercase 
  text-transform: uppercase

// admin header

header
  background-color: #000467
  padding: 10px 40px

.header-menu 
  a 
    position: relative
    font-size: 16px
    line-height: 19px
    color: #fff
    text-decoration: none
    transition: .5s
    &::before
      content: ''
      position: absolute
      top: 50%
    &:hover 
      transform: scale(1.1)
      &::before
        transform: scale(1.1)
        

.home::before
  left: -32px
  transform: translateY(-50%)
  width: 22px
  height: 20px
  background-image: url('../img/home.svg')
  background-size: contain
  transition: .5s

li 
  margin-left: 60px