@import helpers/fonts
@import helpers/vars
@import components/lang
@import components/header
@import components/footer

/* -------------------------------------------------------------------------- */
/*                               general styles                               */
/* -------------------------------------------------------------------------- */

* 
  margin: 0
  padding: 0

ul 
  list-style: none

a 
  text-decoration: none

html 
  font-size: 10px

body 
  font-family: $rubik
  background: #ebebeb url(../img/pattern.jpg) repeat

.wrapper 
  width: 80% 
  margin: 0 auto

.flex-sb
  display: flex
  align-items: center
  justify-content: space-between

.flex-aic
  display: flex
  align-items: center

.flex-col
  display: flex
  flex-direction: column
  align-items: center

h2 
    font-size: 2.4rem
    font-weight: 400
    letter-spacing: 1px
    padding: 18px 0
    color: $second
    text-align: center
    text-transform: uppercase
    background-color: $primary

/* -------------------------------------------------------------------------- */
/*                                 slider grid                                */
/* -------------------------------------------------------------------------- */

.grid
  display: grid
  grid-template: 1fr 48px 1fr/1fr 48px 1fr
  margin: 50px 0
  section 
    position: relative
    border-radius: 10px
    overflow: hidden
  .slide 
    display: flex
    height: 302px

.fish, 
.service 
  grid-column-start: 3

.water,
.service 
  grid-row-start: 3

.slide 
  svg 
    fill: $primary
    transform: translateY(-20px)

.feed 
  svg 
    width: 174px
    height: 174px

.fish 
  svg 
    width: 404px
    height: 100px

.water 
  svg 
    width: 168px
    height: 174px

.service 
  svg 
    width: 196px
    height: 206px

.slide-preview 
  display: flex
  justify-content: center
  align-items: center
  background-color: $second

.slider-control 
  position: absolute
  bottom: 20px
  left: 50%
  transform: translateX(-50%)
  display: flex
  justify-content: space-between
  width: 112px
  span
    width: 20px
    height: 20px
    border: 1px solid $primary
    border-radius: 50%

.current-slide 
  background-color: $primary