/* -------------------------------------------------------------------------- */
/*                                control line                                */
/* -------------------------------------------------------------------------- */
  
.info-line 
  padding: 20px 0
  
.phone 
  svg 
    width: 42px
    height: 43px
    fill: $primary

.phone-list 
  margin-left: 19px
  font-size: 1.8rem
  li 
    margin-bottom: 8px
    &:last-child
      margin: 0
  a 
    display: inline-block
    color: #1a1a1a
    transition: $trs
    &:hover 
      transform: scale(1.1)
  
.logo 
  img 
    width: 146px
    margin-bottom: 9px
  b 
    font-size: 1.6rem
    font-weight: 500
    text-transform: uppercase
    color: $text-dark