@media screen and ( max-width:  1900px)
    .add-to-basket
        padding: 8px 25px
    .price
        padding: 9.5px 10px

@media screen and ( max-width:  1800px)
    .goods-list
        margin: 0 -10px 25px
        & > a
            padding: 0 10px
        figure
            padding: 30px 15px
            img
                margin-bottom: 10px

    .add-to-basket
        font-size: 1.8rem

@media screen and ( max-width:  1700px)
    .add-to-basket
        padding: 8px 15px

@media screen and ( max-width:  1600px)
    .wrapper
        width: 90%

@media screen and ( max-width:  1500px)
  .info-line
    & > div
      width: 25%

@media screen and ( max-width:  1200px)
  .info-line
    & > div
      width: 30%
