@media screen and ( max-width:  1900px)
    .add-to-basket
        padding: 8px 25px
    .price
        padding: 9.5px 10px

@media screen and ( max-width:  1800px)
    .goods-list
        margin: 0 -10px 25px
        & > a
            padding: 0 10px
        figure
            padding: 30px 15px
            img
                margin-bottom: 10px

    .add-to-basket
        font-size: 1.8rem

@media screen and ( max-width:  1700px)
    .add-to-basket
        padding: 8px 15px

@media screen and ( max-width:  1600px)
    .wrapper
        width: 90%

@media screen and ( max-width:  1500px)
  .info-line
    & > div
      width: 25%

@media screen and ( max-width:  1300px)
    h2
        font-size: 2rem

    .slide
        h2
            padding: 15px 0

    .goods-list
        & > a
            flex: 0 0 33.33%
            width: 33.33%

@media screen and ( max-width:  1200px)
    .info-line
        & > div
            width: 30%

    .grid
        grid-template: 1fr 24px 1fr/1fr 24px 1fr

@media screen and ( max-width:  1000px)
    .grid
        grid-template: 1fr 12px 1fr/1fr 12px 1fr

    .goods-list
        margin: 0 -6px 25px
        & > a
            padding: 0 6px

@media screen and ( max-width:  900px)
    .info-line
        flex-wrap: wrap
        .logo
             order: -1
             width: 100%
             margin-bottom: 15px
        & > div
            width: 40%
        .address
            width: 50%
            order: 3
            margin: 0 auto

    footer
        .phone,
        .mail
            margin-bottom: 25px


    .menu
        .burger-btn
            display: block
        nav
            display: none

    .burger-active
        & + nav
            display: block

    .grid
        grid-template: 1fr/1fr 1fr 1fr 1fr
        grid-row-gap: 20px

    .feed, .water
        grid-column: 1/4

    .fish, .service
        grid-column: 2/5

    .service
        grid-row-start: 4

    .goods-list
        margin: 0 -15px 25px
        & > a
            flex: 0 0 50%
            width: 50%
            padding: 0 15px

@media screen and ( max-width:  700px)
    .phone
        svg
            word-wrap: 30px
            height: 30px
        ul
            margin-left: 10px

    .info-line
        & > div
            width: 49%

    .grid
        &>section
            grid-column: 1/5

    .goods-list
        margin: 0 -7px 25px
        & > a
            padding: 0 7px

@media screen and ( max-width:  650px)
    .goods-list
        width: 70%
        margin: 0 auto 25px
        & > a
            width: 100%
            flex: 0 0 100%
            padding: 0

@media screen and ( max-width:  550px)
    .info-line
        & > div
            width: 100%

    .phone
        justify-content: center
        margin: 15px
        ul
            padding-right: 10%

    .control
        padding: 30px 0
        & > a, & > p
            text-align: center
            width: 30%
