/* -------------------------------------------------------------------------- */
/*                                    fonts                                   */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                   colors                                   */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                  animation                                 */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                   shadow                                   */
/* -------------------------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  padding-left: 15vw;
  padding-top: 45px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
}

.uppercase {
  text-transform: uppercase;
}

/* -------------------------------------------------------------------------- */
/*                                   header                                   */
/* -------------------------------------------------------------------------- */
header {
  position: fixed;
  top: 0;
  left: 15vw;
  z-index: 2;
  width: 85vw;
  box-sizing: border-box;
  padding-right: 20px;
  color: #fff;
  background-color: #003b95;
}
header a {
  color: #fff;
}

.header-menu a {
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  padding: 13px 20px;
  transition: 0.5s;
}

.header-menu li,
.aside-menu li:nth-child(1n+2) {
  transition: 0.5s;
}
.header-menu li:hover,
.aside-menu li:nth-child(1n+2):hover {
  background-color: #042c68;
}

.li-add a {
  display: inline-block;
  padding-left: 45px;
}

.add::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  width: 17px;
  height: 17px;
  background-image: url("../img/add.svg");
}

.li-add {
  position: relative;
}

.add-menu {
  position: absolute;
  left: 0;
  top: 50px;
  background-color: #003b95;
}
.add-menu li, .add-menu a {
  display: inline-block;
  width: 100%;
}
.add-menu a {
  padding: 15px 27px;
  box-sizing: border-box;
}

.focus {
  background-color: #042c68;
}

.hidden {
  display: none !important;
}

.lang-select {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 32px;
  overflow: hidden;
  transition: 0.5s;
}
.lang-select a {
  text-decoration: none;
  line-height: 22px;
  padding: 5px 35px 5px 10px;
  transition: 0.5s;
}
.lang-select a:hover {
  background-color: #042c68;
}
.lang-select a span {
  margin-left: 5px;
}
.lang-select::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  width: 10px;
  height: 10px;
  border: 2px solid #fff;
  border-top: none;
  border-left: none;
  transform: rotate(45deg) translate(-75%, -50%);
}
.lang-select:hover {
  cursor: pointer;
}

.selected-lang {
  order: -1;
}

.active-select {
  overflow: visible;
  background-color: #042c68;
}
.active-select a {
  background-color: #003b95;
}
.active-select a:first-child {
  background-color: #042c68;
}

/* -------------------------------------------------------------------------- */
/*                                 aside menu                                 */
/* -------------------------------------------------------------------------- */
aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 15vw;
  height: 100vh;
  background-color: #003b95;
}
aside nav, aside ul, aside li, aside a {
  width: 100%;
}
aside a {
  display: inline-block;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  padding: 15px 30px;
  box-sizing: border-box;
}
aside li {
  position: relative;
}
aside li:hover span {
  transform: scale(1);
}

.logo {
  transition: 0.5s;
  margin-right: 30px;
}
.logo a {
  padding: 7.5px 0;
  justify-content: center;
}
.logo img {
  height: 35px;
}
.logo:hover {
  transform: scale(1.15);
}

.aside-menu li:nth-child(1n+2) a {
  position: relative;
  padding-left: 54px;
}
.aside-menu li:nth-child(1n+2) a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 30px;
  width: 24px;
  height: 24px;
  transform: translate(-50%, -50%);
}
.aside-menu li:nth-child(2) a::before {
  background-image: url(../img/product.svg);
}
.aside-menu li:nth-child(3) a::before {
  background-image: url(../img/category.svg);
}
.aside-menu li:nth-child(4) a::before {
  background-image: url(../img/order.svg);
}
.aside-menu li:nth-child(5) a::before {
  background-image: url(../img/new.svg);
}
.aside-menu li:nth-child(6) a::before {
  background-image: url(../img/module.svg);
}
.aside-menu li:nth-child(7) a::before {
  background-image: url(../img/trash_box.svg);
}

.selected-item {
  background-color: #042c68;
}
.selected-item::before {
  content: "";
  position: absolute;
  z-index: 3;
  top: -5%;
  left: 0;
  width: 10px;
  height: 110%;
  background-color: #D9D9D9;
}

.copy {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 15vw;
}
.copy img {
  height: 40px;
  width: 100%;
}
.copy a {
  justify-content: start;
  color: #999;
}
.copy a span {
  margin-left: 10px;
}

/* -------------------------------------------------------------------------- */
/*                                    main                                    */
/* -------------------------------------------------------------------------- */
main {
  padding: 20px;
}

/* -------------------------------------------------------------------------- */
/*                            product list (index)                            */
/* -------------------------------------------------------------------------- */
.list-filter-wrapp {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.title-line {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #000;
}

.add-button {
  display: inline-block;
  position: relative;
  width: 35px;
  height: 35px;
  background-color: #003b95;
  border: none;
  transition: 0.5s;
}
.add-button img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
}
.add-button:hover {
  background-color: #042c68;
}
.add-button:hover img {
  transform: translate(-50%, -50%) scale(1.1);
}

.y {
  max-height: 100vh;
  width: 75%;
  overflow-y: auto;
}

.product-table {
  width: 100%;
  border-collapse: collapse;
}
.product-table thead tr {
  background-color: #D9D9D9;
}
.product-table tbody tr {
  transition: 0.5s;
}
.product-table tbody tr:nth-child(even) {
  background-color: #D9D9D9;
}
.product-table tbody tr:nth-child(odd) {
  background-color: #BEBEBE;
}
.product-table tbody tr:hover {
  background-color: #acacac;
}
.product-table td, .product-table th {
  padding: 15px;
}

.product-image {
  width: 75px;
}
.product-image img {
  width: 100%;
}

.restore {
  text-align: center;
}
.restore a {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: #4FA839;
  transition: 0.5s;
}
.restore a::before {
  content: "";
  z-index: 25;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/restore_from_trash.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.action {
  text-align: center;
}
.action a {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: #003b95;
  transition: 0.5s;
}
.action a:hover {
  background-color: #042c68;
}
.action a:last-child {
  background-color: #cb0000;
}
.action a:last-child:hover {
  background-color: #a00000;
}
.action a:last-child::before {
  background-image: url(../img/delete.svg);
}
.action a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/edit.svg);
  background-position: center;
  background-repeat: no-repeat;
}

/* -------------------------------------------------------------------------- */
/*                               product create                               */
/* -------------------------------------------------------------------------- */
.create-list {
  justify-content: flex-start;
  width: 100%;
  background-color: #D9D9D9;
}
.create-list a {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  text-decoration: none;
  padding: 10px 30px;
  transition: 0.5s;
}
.create-list a:hover {
  background-color: #B4B4B4;
}

.current-btn {
  background-color: #B4B4B4;
}

.current-slide-wrap {
  display: inline-block;
  background-color: #B4B4B4;
  padding: 40px 30px 50px;
  box-sizing: border-box;
}
.current-slide-wrap > div {
  display: none;
}
.current-slide-wrap .current-slide {
  display: flex;
}

.input-wrap {
  position: relative;
  padding: 30px 0 20px;
}
.input-wrap:last-child {
  padding-bottom: 0;
}
.input-wrap input:not([type=radio]),
.input-wrap textarea,
.input-wrap select {
  width: 400px;
  font-size: 16px;
  padding: 10px 15px;
  border: none;
  background-color: #D9D9D9;
  box-sizing: border-box;
}
.input-wrap textarea {
  width: 800px;
}
.input-wrap .label {
  position: absolute;
  top: 0;
  left: 0;
}
.input-wrap > p {
  margin-bottom: 10px;
}

.size-price-slide .input-wrap input,
.size-price-slide .input-wrap select {
  width: 450px;
}

.size-price-bt-wrapp {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 0 0;
}

.size-price-bt-min,
.size-price-bt-pl {
  cursor: pointer;
  width: 150px;
  padding: 0 15px;
  background-color: #003b95;
  border: none;
  color: #fff;
  transition: 0.5s;
}
.size-price-bt-min:hover,
.size-price-bt-pl:hover {
  background-color: #1255bc;
}

.btn-w-sp {
  display: flex;
  align-items: center;
}

/* -------------------------------------------------------------------------- */
/*                               product update                               */
/* -------------------------------------------------------------------------- */
.image-changes {
  text-align: center;
  display: inline-block;
  cursor: pointer;
  margin-bottom: 15px;
}

.old-image {
  width: 500px;
  transition: 0.5s;
}

.image-changes-desc {
  text-align: center;
  margin-bottom: 15px;
}

.image-changes-bt {
  width: 100%;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  background-color: #003b95;
  border: none;
  color: #fff;
  transition: 0.5s;
}
.image-changes-bt:hover {
  background-color: #1255bc;
}

.image-changes-form {
  display: none;
}

.radio-change {
  display: none;
}

.radio-label {
  cursor: pointer;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  background-color: #F2F2F2;
  border-radius: 50px;
  margin-bottom: 15px;
  transition: 0.5s;
}
.radio-label:hover {
  box-shadow: 0px 0px 10px #003b95;
}

.radio-change:checked + .radio-label {
  padding: 5px;
  background-color: #D9D9D9;
  box-shadow: 0px 0px 10px #003b95;
  transition: 0.5s;
}
.radio-change:checked + .radio-label .label-circle {
  background-color: #003b95;
  border: 1px solid rgba(0, 0, 0, 0);
}

.label-circle {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50px;
  border: 1px solid #cccccc;
  margin-left: 10px;
}

.label-desc {
  display: block;
  font-size: 13px;
  margin-left: 10px;
  margin-right: 10px;
}

.flex-space {
  display: flex;
}

.sub-category-wrap {
  flex-wrap: wrap;
  width: 400px;
}

.pt0 {
  padding-top: 0;
}

/* -------------------------------------------------------------------------- */
/*                                   pagination                               */
/* -------------------------------------------------------------------------- */
.pagination {
  padding: 25px;
}

/* -------------------------------------------------------------------------- */
/*                                   filter                                   */
/* -------------------------------------------------------------------------- */
.filter-form {
  width: 20%;
  background-color: #D9D9D9;
  padding: 15px;
}

.filter-item-checkbox {
  display: none;
}

.filter-item {
  margin-bottom: 20px;
}

.filter-item-title {
  text-align: center;
  font-weight: bold;
}

.filter-item-desc,
.filter-item-title {
  margin-bottom: 15px;
}

.filter-item-desc {
  display: block;
  padding: 5px 0;
  border-bottom: 1px solid #676767;
}

.filter-item-label {
  cursor: pointer;
  margin-left: 10px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  background-color: #F2F2F2;
  border-radius: 50px;
  margin-bottom: 15px;
  transition: 0.5s;
}
.filter-item-label:hover {
  box-shadow: 0px 0px 10px #003b95;
}

.filter-item-checkbox:checked + .filter-item-label {
  padding: 5px;
  background-color: #D9D9D9;
  box-shadow: 0px 0px 10px #003b95;
  transition: 0.5s;
}
.filter-item-checkbox:checked + .filter-item-label .label-circle {
  background-color: #003b95;
  border: 1px solid rgba(0, 0, 0, 0);
}

.filter-setting-button {
  text-align: center;
}

.filter-item-button-button {
  display: none;
}

.filter-item-button-label {
  width: 100%;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  background-color: #003b95;
  border: none;
  color: #fff;
}
.filter-item-button-label:hover {
  background-color: #1255bc;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #003b95;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
